<div class="container-fluid">

	<div class="page-header">
		<h1>Segment Creator <small>Currently editing {{currentVideo.name}}</small></h1>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group text-left">
				<div class="button-group">
					<a href="#/" class="btn btn-default">
						<i class="glyphicon glyphicon-triangle-left"></i>
						Back To Browser
					</a>
				</div>
			</div>
		</div>

		<div class="col-xs-6 text-right" style="padding: 7px 0">
			Gap between thumbnails
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" ng-model="gap">
					<span class="input-group-addon">seconds</span>
					<span class="input-group-btn">
						<a class="btn btn-default" type="button" ng-click="toggleQueue()">Queue</a>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="row">
				<div class="col-xs-4 text-center">
					<div class="panel panel-default">
						<div class="panel-heading">-{{gap}} Seconds</div>
						<img class="frame-thumbnail" modifier="-1" style="width:100%">
					</div>
				</div>
				<div class="col-xs-4 text-center">
					<div class="panel panel-default">
						<div class="panel-heading">0 Seconds</div>
						<img class="frame-thumbnail" modifier="0" style="width:100%">
					</div>
				</div>
				<div class="col-xs-4 text-center">
					<div class="panel panel-default">
						<div class="panel-heading">+{{gap}} Seconds</div>
						<img class="frame-thumbnail" modifier="1" style="width:100%">
					</div>
				</div>

				<div class="col-xs-4">
					<a class="btn btn-default btn-block text-center" ng-click="prevSplit()">
						<i class="fa fa-backward"></i>
						Previous Split
					</a>
				</div>
				<div class="col-xs-4">
					<a class="btn btn-success btn-block text-center" ng-click="addSplit()">
						<i class="glyphicon glyphicon-flag"></i>
						Add Split Here
					</a>
				</div>
				<div class="col-xs-4">
					<a class="btn btn-default btn-block text-center" ng-click="nextSplit()">
						Next Split
						<i class="fa fa-forward"></i>
					</a>
				</div>

			</div>

		</div>
		<div class="panel-footer" ng-if="blackdetect.length > 0">
			<span ng-if="blackdetect.length > 0">
				Found {{blackdetect.length}} possible break(s) in the video. Showing #{{currentSplit + 1}} out of {{blackdetect.length}}.
			</span>
		</div>
	</div>

	<div class="progress">
		<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{currentTime}}" ng-class="{ animated: currentTime == '100%' }"></div>

		<div class="tooltip top" role="tooltip" ng-repeat="split in splits" ng-click="removeSplit($index)" data-time="{{split}}" style="left: {{(split / duration.in_seconds) * 100}}%">
			<div class="tooltip-arrow"></div>
			<div class="tooltip-inner">x</div>
	    </div>

	</div>

	<div class="naming-table" ng-if="segments.length > 0">
		<h2>Output File Naming</h2>
		<div class="input-group" ng-repeat="segment in segments track by $index">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click="gotoSplit($index)">Segment #{{$index + 1}}</button>
			</span>
			<input type="text" class="form-control" ng-model="segment.output">
			<span class="input-group-btn">
				<button ng-if="segment.inQueue !== true" class="btn btn-default" type="button" ng-click="addSegmentToQueue(segment, $index)">
					<span>Add To Queue</span>
				</button>
				<button ng-if="segment.inQueue === true" disabled="disabled" class="btn btn-default" type="button">
					<span>Added!</span>
				</button>
			</span>
		</div>
	</div>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default" id="console">
			<div class="panel-heading">
				<a href="#console-output" data-toggle="collapse" data-target="#console-output">Console</a>
			</div>
			<div id="console-output" class="panel-collapse collapse in">
				<div class="panel-body">
					<pre>
						<div ng-repeat="line in console track by $index">{{line}}</div>
					</pre>
				</div>
			</div>
		</div>
	</div>
</div>